node_modules/
.next/
out/
build/
functions/lib/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
serviceAccountKey.json

# Env
.env
.env.local
.env*.local

# OS
.DS_Store

# Editors
.vscode/
.idea/
*.js.map
types/*.js
